* {box-sizing: border-box;}


.title-container {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #F9AB55;
    color: #1E2F43;
    font-size: 1.4em;
    font-weight: 900;
}

.site-navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration: none;
    margin: 0px;
    padding: 15px 0px 15px;
}

.title-spacing{
    display: inline-block;
    padding-right: 2em;
}

.js-search-form{
    display: inline-block;
    padding-left: 3em;
}

main {
    font-family: 'Cairo', sans-serif;
}

.results-container{
    /* background-color: #909CC2; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
}

.results-container p{
    margin: 0px;
}

.top-nav{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

h1 .top-nav{
    margin: 0px;
}

input {
    padding: 0px 0px 0px 4px;
    border: 0;
    height: 23px;
    margin-right: 6px;
    border-radius: 10px;
}

button{
    padding: 0px 5px 0px 5px;
    border: 0px;
    height: 25px;
    line-height: 1px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover{
    color: white;
    background-color: black; 
}

.breach-results{
    text-align: center;
    border: 1px black solid;
    border-radius: 50px;
    background-color: rgba(144, 156, 194, 0.699);
    margin: 15px;
}

.breach-results>h1{
    text-align: center;
    margin: 0;
    padding-top: 12px;
}

.breach-results>h3{
    padding: 0px 20px 0px 20px;
}

ul>li{
    justify-self: center;
    list-style-type: none;
}

li>a{
    text-decoration: none;
    color: #084887;
    font-weight: 600;
}

li>a:hover{
    color: #FFBB00;
}


/* Remember that the media queries CASCADE (just like the rest of CSS, but overarching obvi) */

/* ADD a hamburger Nav for Portrait Mobile! */

/* Mobile Screen (actual change more like 660px*/
/* @media only screen and (max-width: 600px){
    .results-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    .site-navigation{
    }
}     */


/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
 /* iPads (portrait) ----------- */
@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }


 /* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 425px) {
    .results-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-spacing {
        display: inline-block;
        padding-right: .5em;
    }
}

/* Not sure what other styles to add. */